.btn-hover-change-jump {
    transition: background-color ease 0.3s;
    transition: transform ease 0.3s;
}

.btn-hover-change-jump:hover{
  background-color: white !important;
  border: 1px solid var(--primary-color) !important;
  color: black !important;
  transform: translateY(-4px);
}

.btn-hover-change {
    transition: background-color ease 0.3s;
}

.btn-hover-change:hover {
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    color: black !important;
}

#bannerImg {
    width: 100%;
    max-height: 420px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main-anounment {
    display: flex;
    background-color: var(--primary-color);
    margin-top: 1rem;
    height: 80px;
}

#anounment-tag {
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    margin: 13px 0 13px 15px;
}

#anounment-text{
    line-height: 80px;
    color: white;
    margin-left: 14px;
}

#main-control{
    display: flex;
    width: 100%;
    background-color: white;
    height: 54px;
    margin-top: 19px;
    margin-bottom: 9px;
    padding: 15px;
    justify-content: space-between;
}

.main-control-left{
    display: flex;
}

.main-control-text {
    font-weight: 500;
    display: block;
    font-size: 16px;
    margin-right: 50px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding-bottom: 2px;
    background-image: linear-gradient(#C31815 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.main-control-text:hover{
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

.main-control-text-right {
    cursor: pointer;
}
