/*BUTTON STYLE IN MANAGE PAGE*/
.btn-hover-change-jump {
    transition: background-color ease 0.3s;
    transition: transform ease 0.3s;
}

.btn-hover-change-jump:hover{
  background-color: white !important;
  border: 1px solid var(--primary-color) !important;
  color: black !important;
  transform: translateY(-4px);
}

.btn-hover-change {
    transition: background-color ease 0.3s;
}

.btn-hover-change:hover {
    background-color: white !important;
    border: 1px solid var(--primary-color) !important;
    color: black !important;
}

/*HOMEPAGE*/
#bannerImg {
    width: 100%;
    max-height: 420px;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bannerImg img{
    max-height: 420px;
}

#main-anounment {
    display: flex;
    height: 80px;
    background-color: var(--primary-color);
    padding-left: 10px;
}

#anounment-tag {
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
    margin: 13px 0 13px 15px;
}

#anounment-text{
    line-height: 80px;
    color: white;
    margin-left: 14px;
}

/*HOME CONTROL*/
.main-control {
    display: flex;
    width: 100%;
    background-color: white;
    height: 54px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
    border-left: 2px solid var(--primary-color);
    border-right: 2px solid var(--primary-color);
}

.main-control-left{
    display: flex;
    align-items: center;
}

.main-control-text {
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    margin-right: 50px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding-bottom: 2px;
    background-image: linear-gradient(#C31815 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.main-control-text:hover{
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}

.main-control-right {
    display: flex;
    cursor: pointer;
}

.faculty-options{
    margin-right: 20px;
}
.faculty-option {
    cursor: pointer;
    outline: none;
    border: unset;
}

.main-control-search{

}

.main-control-search--input input{
    outline: none;
    border: unset;
}

.search-icon {
    border: unset;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
}
#search {
    border-bottom: 1px solid #808080;
}

.search-cancel a {
    font-weight: 600;
    text-decoration: none;
    padding: 8px;
    color: var(--failed-color);
    border: 1px solid var(--failed-color);
    border-radius: 10px;
}

.search-cancel a:hover{
    color: white;
    background-color: #EE4266;
}

/*MAGAZINES*/
.card-box {
    min-height: 480px;
}

.card-img-top {
    height: 210px;
    object-fit: cover
}

.card-body-heading{
    font-weight: 500;
}

.card-body-text{
    color: #808080;
}

.faculty-text {
    background-color: #7077A1;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 13px;
    padding: 3px 0;
}

.faculty-text-p{
    margin-bottom: 0;
}

.status-text-open {
    background-color: #609966;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 13px;
    padding: 3px 0;
}
.status-text-close {
    background-color: #de3a3b;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 13px;
    padding: 3px 0;
}

.status-text {
    color: white;
    margin-bottom: 0;
}

/*RESPONSIVE*/
@media(max-width: 1200px) {
    .main-control {
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    #bannerImg {
        width: 100%;
        max-height: 200px;
        background: #0f0c29; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #bannerImg img{
        max-height: 200px;
    }

    #main-anounment{
        font-size: 14px;
        height: 50px;
    }

    #anounment-tag {
        font-size: 14px;
        margin: 12px 2px;
        padding: 3px 10px;
    }

    #anounment-text{
        line-height: 50px;
    }

    .main-control {
        height: 100px;
    }

    .main-control form {
        flex-direction: column;
        align-items: center;
    }

    .main-control-left {
        padding-bottom: 10px;
    }
}