:root {
    --primary-color: #2D3250;
    --secondary-color: #424769;
    --third-color: #7077A1;
    --four-color: #F6B17A;
    --success-color: #609966;
    --failed-color: #ee4266;

    /*Sidebar Size*/
    --sidebar-size: 300px;
}

html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
    font-family: "Mulish", sans-serif;
    letter-spacing: 0.3px;
    font-size: 16px;
    position: relative;
    margin-bottom: 0 !important;
    min-height: 100%;
    box-sizing: inherit;
    padding-bottom: 400px !important;
    background-color: #F1F2F3;
    overflow-y: overlay;
    overflow-x: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}

/*Scroll Custom*/
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    /*border-radius: 4px;*/
    background-color: var(--primary-color);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/*Table Data - MAGAZINE TITLE*/
.td-title {
    width: 15%;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*TABLET*/
@media(max-width: 1200px) {
    html {
        height: 100%;
        font-size: 14px;
        box-sizing: border-box
    }

    body {
        position: relative;
        margin-bottom: 0 !important;
        min-height: 100%;
        box-sizing: inherit;
        padding-bottom: 200px !important;
    }

    footer {
        padding: 10px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 200px
    }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
 
  footer {
    font-size: 10px;
 }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*SIDEBAR*/
#nav-bar-side {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    animation: navBarSlide ease 0.5s;
    z-index: 10;
}

@keyframes navBarSlide {
    0% {
        transform: translateX(100%);
        /*right: calc(var(--sidebar-size) * -1);*/
    }

    100% {
        transform: translateX(0);
        /*right: 0px;*/
    }
}

.header__nav {
    position: sticky;
    min-height: 100vh;
    width: var(--sidebar-size);
    background-color: var(--secondary-color);
    opacity: 0.95;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

@media(max-width: 1024px) {
    #nav-bar-side {
        left: 0;
        animation: none;
    }

    .header__nav {
        width: 100%;
        border: none;
    }
}

.header__nav--heading {
    width: 100%;
    color: #F1F2F3;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
}

#header__nav--close-icon {
    position: absolute;
    top: -5px;
    right: 30px;
    font-size: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.header__nav--email {
    color: #F1F2F3;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f2f3;
}

.header__nav--role-admin {
    background-color: var(--failed-color);
    color: white;
    margin-top: 10px;
    text-align: center;
}

.header__nav--role{
    background-color: white;
    color: var(--primary-color);
    margin-top: 10px;
    text-align: center;
}

.header__nav--role-function {
    text-decoration: none;
    color: #f1f2f3;
    width: 100%;
}

.header__nav--role-hover{
    color: #f1f2f3;
    padding: 15px 0;
}

.header__nav--role-hover:hover{
    color: var(--primary-color);
    background-color: #f1f2f3;
}

.header__nav--logout {
    width: 100%;
    color: #f1f2f3;
    background-color: inherit;
    padding: 15px 0;
    text-align: center;
    border: unset;
}

.header__nav--logout:hover{
    color: var(--primary-color);
    background-color: #f1f2f3;
}