:root {
    --primary-color: #2D3250;
    --secondary-color: #424769;
    --third-color: #7077A1;
    --four-color: #F6B17A;
    --success-color: #609966;
    --failed-color: #ee4266;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    letter-spacing: 0.3px;
    font-size: 16px;
    position: relative;
    margin-bottom: 0 !important;
    min-height: 100%;
    box-sizing: inherit;
    padding-bottom: 400px !important;
    background-color: #F1F2F3;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
}

@media(max-width: 1200px){
    html {
        height: 100%;
        font-size: 16px;
        box-sizing: border-box
    }

    body {
        position: relative;
        margin-bottom: 0 !important;
        min-height: 100%;
        box-sizing: inherit;
        padding-bottom: 200px !important;
    }

    footer {
        padding: 10px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 200px
    }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
 
  footer {
        
 }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*SIDEBAR*/
#nav-bar-side {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
}

.header__nav {
    position: sticky;
    min-height: 100vh;
    width: 300px;
    background-color: var(--secondary-color);
    opacity: 0.95;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    animation: navShowUp ease-in 0.5s;
    border-left: 2px solid #F1F2F3;
}

@keyframes navShowUp{
    0%{
        opacity: 0;
        width: 0;
    }
    50% {
        opacity: 1;
        width: 300px;
    }
}

.header__nav--heading {
    width: 100%;
    color: #F1F2F3;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    text-align: center;
}

#header__nav--close-icon {
    position: absolute;
    top: -5px;
    right: 30px;
    font-size: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.header__nav--email {
    color: #F1F2F3;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f2f3;
}

.header__nav--role-admin {
    background-color: var(--failed-color);
    color: white;
    margin-top: 10px;
    text-align: center;
}

.header__nav--role{
    background-color: white;
    color: var(--primary-color);
    margin-top: 10px;
    text-align: center;
}

.header__nav--role-function {
    text-decoration: none;
    color: #f1f2f3;
    width: 100%;
}

.header__nav--role-hover{
    color: #f1f2f3;
    padding: 15px 0;
}

.header__nav--role-hover:hover{
    color: var(--primary-color);
    background-color: #f1f2f3;
}

.header__nav--logout {
    width: 100%;
    color: #f1f2f3;
    background-color: inherit;
    padding: 15px 0;
    text-align: center;
    border: unset;
}

.header__nav--logout:hover{
    color: var(--primary-color);
    background-color: #f1f2f3;
}